<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<div>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="brand-section col-md-5 mr-auto d-flex flex-column"
             th:each="brand: ${brands}">
            <h2>Car brand:
                <span th:text="${brand.name}"></span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="model : ${brand.models}">
                        <td th:text="${model.id}"></td>
                        <td th:text="${model.name}"></td>
                        <td th:text="${model.category}"></td>
                        <td th:text="${model.startYear}"></td>
                        <td th:text="${model.endYear}"></td>
                        <td>
                            <img th:src="${model.imageUrl}" alt="image" class="img-thumbnail rounded">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
        <footer></footer>
    </div>
</div>
</body>
</html>
