<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/head}"></th:block>
</head>
<body>
<div>
    <th:block th:insert="~{fragments/navbar}"></th:block>
</div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title"
                    th:text="${offer.model.brand.name} + ' ' + ${offer.model.name} + ' - ' + ${offer.year}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">Mileage: <span th:text="${offer.mileage}"></span></div>
                    <div class="card-text">Price: <span th:text="${offer.price}"></span></div>
                    <div class="card-text">Engine type: <span th:text="${offer.engine}"></span></div>
                    <div class="card-text">Transmission type: <span th:text="${offer.transmission}"></span></div>
                    <div class="card-text">Offer created: <span th:text="${#temporals.format(offer.created, 'yyyy-MM-dd HH:mm')}"></span></div>
                    <div class="card-text">Offer modified: <span th:text="${#temporals.format(offer.modified, 'yyyy-MM-dd HH:mm')}"></span></div>
                    <div class="card-text">Seller - First and Last name: <span th:text="${offer.seller.firstName} + ' ' + ${offer.seller.lastName}"></span></div>
                    <div class="card-text">Description: <span th:text="${offer.description}"></span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="'/offers/' + ${offer.uuid} + '/update'">Update</a>
                <a class="card-link" th:href="'/offers/' + ${offer.uuid} + '/delete'">Delete</a>
            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="${offer.model.imageUrl}" class="card-img-top" alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
